<!DOCTYPE html>
<html lang="es"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/base2.html}">

<body>

<section layout:fragment="content">

    <div class="Perfil_Adm">
        <h1>Gestión de Productos</h1>

        <div class="action-buttons">
            <div class="mb-3">
                <a style="width: 100px;" th:href="@{/productos/crear}" class="btn">Registrar</a>

                <a style="width: 100px;"
                   th:href="@{/productos/reporte}"
                   class="btn"
                   target="_blank">Reporte</a>
            </div>a
        </div>

        <div class="table-container_TC">
            <div class="table-responsive">
                <table class="table table-striped table-hover table-bordered">

                    <thead class="table-header_TC">
                    <tr>
                        <th>ID</th>
                        <th>Imagen</th>
                        <th>Nombre</th>
                        <th>Existencia</th>
                        <th>Precio Alq.</th>
                        <th>Acciones</th>
                    </tr>
                    </thead>

                    <tbody>

                    <tr th:each="producto : ${productos}">
                        <td th:text="${producto.idProducto}"></td>

                        <td>
                            <img th:if="${producto.imagenBase64 != null}"
                                 th:src="${producto.imagenBase64}"
                                 alt="img"
                                 style="width:60px;height:60px;object-fit:cover;">
                        </td>

                        <td th:text="${producto.nombreProducto}"></td>
                        <td th:text="${producto.existencia}"></td>

                        <td th:text="'$' + ${#numbers.formatDecimal(producto.precioAlquiler,1,'POINT',2,'COMMA')}"></td>

                        <td>
                            <a th:href="@{/productos/consultar/{id}(id=${producto.idProducto})}"
                               class="btn btn-info">
                                Consultar
                            </a>
                        </td>
                    </tr>

                    <tr th:if="${productos.size() == 0}">
                        <td colspan="6" class="text-center">
                            No hay productos registrados.
                        </td>
                    </tr>

                    </tbody>

                </table>
            </div>
        </div>
    </div>

</section>

</body>
</html>
