<!DOCTYPE html>
<html lang="es"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/base2.html">

<body>

<section layout:fragment="content">

    <div class="Perfil_Adm">
        <h1>Mi Perfil</h1>

        <div class="table-container_TC">
            <div class="table-responsive">
                <div class="table-header_TC">
                    <h2>Información del Usuario</h2>
                </div>

                <table class="table table-striped table-hover table-bordered">
                    <tbody>
                    <tr>
                        <th>ID:</th>
                        <td th:text="${usuario.id}"></td>
                    </tr>
                    <tr>
                        <th>Nombre:</th>
                        <td th:text="${usuario.nombre}"></td>
                    </tr>
                    <tr>
                        <th>Correo:</th>
                        <td th:text="${usuario.correo}"></td>
                    </tr>
                    <tr>
                        <th>Teléfono:</th>
                        <td th:text="${usuario.telefono}"></td>
                    </tr>
                    <tr>
                        <th>Tipo de Usuario:</th>
                        <td th:text="${usuario.tipoUsuario}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="action-buttons mt-3">
            <a href="#" class="btn"
               onclick="document.getElementById('logout-form').submit();">
                Cerrar Sesión
            </a>
        </div>

        <form id="logout-form" th:action="@{/logout}" method="post" style="display:none;"></form>

    </div>

</section>

</body>
</html>
