<!DOCTYPE html>
<html lang="es"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/base2.html">

<body>

<section layout:fragment="content">

    <div class="Perfil_Adm">
        <h1>Registrar Paquete</h1>

        <div class="table-container_TC">
            <div class="table-responsive">

                <div class="table-header_TC">
                    <h2>Información del Paquete</h2>
                </div>

                <!-- FORMULARIO -->
                <form th:action="@{/paquetes/guardar}" th:object="${paquete}" method="post">

                    <div class="mb-3">
                        <label class="form-label">Tipo de Evento</label><br>
                        <input type="text" class="form-control"
                               th:field="*{tipoEvento}" required>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Nombre del Paquete</label><br>
                        <input type="text" class="form-control"
                               th:field="*{nombre}" required>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Descripción</label><br>
                        <textarea class="form-control"
                                  th:field="*{descripcion}" rows="3" required></textarea>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Capacidad</label><br>
                        <select class="form-control" th:field="*{capacidad}" required>
                            <option value="">-- Seleccione --</option>
                            <option value="20-40">20-40</option>
                            <option value="40-60">40-60</option>
                            <option value="60-80">60-80</option>
                        </select>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Precio</label><br>
                        <input type="number" step="0.01" class="form-control"
                               th:field="*{precio}" required>
                    </div>

                    <div class="action-buttons">
                        <div class="mb-3">
                            <button type="submit" class="btn btn-success">Guardar</button>
                            <a th:href="@{/paquetes}" class="btn btn-secondary">Volver</a>
                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>

</section>

</body>
</html>
