<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión - Arron </title>
    <link rel="stylesheet" th:href="@{/css/iniciosesion.css}">
</head>

<body>
<div class="fondo"></div>

<main class="login-container">
    <section class="login-card">

        <div class="div_inicio">
            <h2>Iniciar Sesión</h2>

            <!-- Mostrar errores enviados por el controlador -->
            <div th:if="${error}"
                 style="background:#ffe6e6;padding:10px;margin-bottom:12px;
                    border:1px solid #ffb3b3;color:#900;">
                <p th:text="${error}"></p>
            </div>

            <div th:if="${status}"
                 style="background:#e6f0ff;padding:10px;margin-bottom:12px;
                    border:1px solid #99c2ff;">
                <p th:text="${status}"></p>
            </div>

            <!-- FORMULARIO DE LOGIN -->
            <form th:action="@{/iniciarsesion}" method="POST">
            <div class="input-group">
                    <input type="number"
                           name="numeroDocumento"
                           required
                           placeholder="Documento"
                           th:value="${numero_documento}">
                </div>

                <div class="input-group">
                    <input type="password"
                           name="contrasena"
                           required
                           placeholder="Contraseña">
                </div>

                <input type="submit" value="Entrar">
                <br>

                <a th:href="@{/}">Página Principal</a>
            </form>
        </div>

        <div class="div_registrarse">
            <h1>¡Hola!</h1>
            <p>¿Aún no tienes una cuenta?</p>

            <button th:onclick="'location.href=\'/registro\''">
                Registrarse
            </button>
        </div>

    </section>
</main>
</body>
</html>
